{extend name="admin/index"}

{block name="search"}
{/block}

{block name="main"}

<h1>新增排片</h1>
<form class='mt20'>
<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="addressname">影院名</label>
    <select name='addressname'>
      {foreach $addresslist as $k => $v}
      <option value ="{$k}">{$v}</option>
      {/foreach}
    </select>
  </div>
</div>

<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="filmname">影片名</label>
    <select name="filmname">
      {foreach $filmlist as $k => $v}
      <option value ="{$k}">{$v}</option>
      {/foreach}
    </select>
  </div>
</div>

<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="playdate">播放日期</label>
    <input type="date" class="form-control" name="playdate">
  </div>
</div>
<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="playtime">播放时间</label>
    <input type="text" class="form-control" name="playtime">
  </div>
</div>
<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="hallnum">放映大厅号</label>
    <input type="text" class="form-control" name="hallnum">
  </div>
</div>
<div class='container-fluid'>
  <div class="form-group col-xs-4">
    <label for="price">票价</label>
    <input type="text" class="form-control" name="price">
  </div>
</div>

<div class='container-fluid'>
  <div class="form-group col-xs-4">
  <button type="submit" class="btn btn-success mt20 save-btn">确认</button>
</div>
</div>
</form>
{/block}


{block name="js"}
<script>
  $(".createfilmschedule").addClass('active');

    $(function(){
        $('.save-btn').click(function(){
          var data = $('form').serializeArray();
          saveajax(data);
          return false;
        })
    })

    function saveajax(data){
      $.ajax({
          type:'post',
          url:'/schedule',
          dataType :'json',
          data:{
            addressname: data[0].value,
            filmname: data[1].value,
            playdate: data[2].value,
            playtime:data[3].value,
            hallnum: data[4].value,
            price: data[5].value
          },
          success:function(data){
            alert(data.info);
            window.location.href="/schedule/";
          }
      })
    }


</script>
{/block}