{extend name="index/index"}

{block name="weather"}
{/block}

{block name="main"}

<div id="content">
	<div class="container">
		<div class="row">
			<!--左侧-->
			<div class="span3">
				<div class="account-container">
					<div class="account-avatar">
						{if $result['icon'] == null}
						<img src="static/index/images/8.jpg" class="thumbnail" />
						{else}
						<img src="static/index/images/{$result['icon']}" class="thumbnail" />
						{/if}
					</div> <!-- /account-avatar -->
					<div class="account-details">
						<span class="account-name">{:session('name', '', 'index')}</span>
						<span class="account-role">贵宾级别</span>
					</div> <!-- /account-details -->
				</div> <!-- /account-container -->
				<hr />
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					<li>
						<a href="./PersonalCenter.html">
							<i class="icono-user"></i>
							个人资料
						</a>
					</li>
					<li class="active">
						<a href="./faq.html">
							<i class="icono-gear spin"></i>
							修改密码
						</a>
					</li>
					<li>
						<a href="./plans.html">
							<i class="icono-market"></i>
							我的收藏
							<span class="label label-warning pull-right"></span>
						</a>
					</li>
					<li>
						<a href="./grid.html">
							<i class="icono-flickr"></i>
							我的评论
							<span class="label label-warning pull-right"></span>
						</a>
					</li>
					<li>
						<a href="./charts.html">
							<i class="icono-sync spin"></i>
							订单管理
						</a>
					</li>
				</ul>
				<hr />
				<div class="sidebar-extra">
					<p>阿里影业宣布，旗下的互联网售票业务平台“淘宝电影”正式将品牌更名为“淘票票”，并宣布与大麦网正式达成战略合作，致力打造成国内最大的泛娱乐产业营销平台。
此次阿里影业将淘宝电影更名为淘票票，表明淘宝电影的战略方向有了重大升级，业务范畴由电影扩展至演出、体育等泛娱乐业，自身定位由线上售票平台转变为具备线上线下双向宣发能力的营销平台。未来，淘票票将向泛娱乐业开放包括线上售票、精准营销、用户互动等能力，围绕票务积极拓展更多的应用场景，帮助合作伙伴开展线上线下结合的整合营销，为消费者提供更便捷的服务。[1]
据悉，淘票票业务于2014年底上线，目前已成为内地最主要的电影线上售票平台之一，提供全国超过5000家影院线上选座购票服务，覆盖影院票房约占全国总票房95%；出票数额也由2015年初日均出票3万张跃升至目前单日出票峰值达300万张，一年半内增幅达100倍。</p>
				</div> <!-- .sidebar-extra -->
				<br />
			</div> <!-- /span3 -->
            <!--右侧-->
            <div class="span9" style="margin-top: 95px;width: 790px">
            <h1 class="page-title"><i class="icono-gear"></i>修改密码</h1>
            <div class="row">
            <div class="span9" style="width: 790px;">
                <div class="widget">
            <div class="widget-header">
            <h3>密码更改</h3>
            </div> <!-- /widget-header -->
                <div class="widget-content">
            <div class="tabbable">
            <div class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">修改密码</a>
            </li>
            <br />
            <div class="tab-content" style="margin-top: 20px">
				<div class="tab-pane active" id="1">
                <form id="edit-profile" class="form-horizontal" action="{:url('index/User/updatepwd')}" method="post" />
                <fieldset>
				<input type="hidden" name="id"  value="{:session('user_id', '', 'index')}">
                <div class="control-group">
                <label class="control-label" for="firstname">原密码</label>
                <div class="controls">
                <input type="password" class="input-medium" id="firstname" name="old_pwd" />
                </div> <!-- /controls -->
                </div> <!-- /control-group -->
                
                <div class="control-group">
                <label class="control-label" for="firstname">新密码</label>
                <div class="controls">
                <input type="password" class="input-medium" id="firstname" name="new_pwd" />
                </div> <!-- /controls -->
                </div> <!-- /control-group -->
                
                <div class="control-group">
                <label class="control-label" for="firstname">再次输入新密码</label>
                <div class="controls">
                <input type="password" class="input-medium" id="firstname" name="repwd" />
                </div> <!-- /controls -->
                </div> <!-- /control-group -->
                
                <div class="form-actions">
                <button type="submit" class="btn btn-primary">提交</button>
                </div>
                </fieldset>
				</form>
				</div>
            </div>
            </div>
            </div>
            </div>
                </div>
                </div>
            </div>
            </div>
			
        </div>
    </div>
</div>

<script>
$(function () {
	$('.faq-list').goFaq ();
});
</script>

{/block}
